<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{{ title }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='historico/historico.css') }}">
    </head>
    <body>
        {% include 'header/header.html' %}

        <table>
			<caption>Histórico</caption>
			<thead>
			  <tr>
				<th scope="col">Espressão</th>
				<th scope="col">Data Registro</th>
				<th scope="col">Resultado</th>
			  </tr>
			</thead>
			<tbody>
			  <tr>
				<td data-label="Account">cossec(2)+cos(2)</td>
				<td data-label="Due Date">04/01/2016</td>
				<td data-label="Period">0.68360</td>
			  </tr>
			  <tr>
				<td scope="row" data-label="Account">cossec(4)+cos(4)</td>
				<td data-label="Due Date">03/01/2016</td>
				<td data-label="Period">-1.97499</td>
			  </tr>
			  <tr>
				<td scope="row" data-label="Account">cossec(10)+cos(10)</td>
				<td data-label="Due Date">03/01/2016</td>
				<td data-label="Period">6.74357</td>
			  </tr>
			  <tr>
				<td scope="row" data-label="Acount">2+2</td>
				<td data-label="Due Date">02/01/2016</td>
				<td data-label="Period">4</td>
			  </tr>
			</tbody>
		  </table>
    </body>
</html>