<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>{{ title }}</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header/base.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header/header.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='historico/historico.css') }}">
        <script src="{{ url_for('static', filename='historico/historico.js') }}" charset="utf-8"></script>
    </head>
	<body>
		{% include 'header/header.html' %}

		<div class="titleHistorico">
			<caption>Histórico de Operações</caption>
		</div>
		<div class="filtros">
			<div class="filtroData">
				<p>Data</p>
				<input id="data" placeholder="Clique aqui" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" ></input>
			</div>
			<div class="filtroOperacao">
				<p>Tipo de Operação</p>
				<select id="tipoOp" name="select">
				</select>
			</div>
		</div>
        <table>
			<thead>
			  <tr>
				<th scope="col">Espressão</th>
				<th scope="col">Data Registro</th>
				<th scope="col">Resultado</th>
			  </tr>
			</thead>
			<tbody id='bodyHistorico'>
			</tbody>
		  </table>
    </body>
</html>
<script type="text/javascript">
    window.onload = () => {
        getListOperacao();
        getHistorico();
    }

    function getListOperacao() {
        let url = 'http://localhost:5003/api_gateway/getOperacao';
        axios.get(url).then(response => {
            let listOptions = ['<option value="selecione" selected>Selecione</option>'];
            response.data.list.forEach(elem => {
                listOptions.push(`<option value="${elem.id_operacao}">${elem.operacao_especifica[0].toUpperCase() + elem.operacao_especifica.substr(1)}</option>`)
            });

            document.getElementById('tipoOp').innerHTML = listOptions;
        }).catch((err) => err)
    }

    function getHistorico() {
        let url = 'http://localhost:5003/api_gateway/getHistorico';
        axios.get(url).then(response => {
            let listOptions = new Array();
            response.data.results.forEach(elem => {
                listOptions.push(`<tr>
  				<td data-label="Account">${elem.argumento}</td>
  				<td data-label="Due Date">${elem.dt_registro}</td>
  				<td data-label="Period">${elem.resultado}</td>
  			    </tr>`)
            });

            document.getElementById('bodyHistorico').innerHTML = listOptions;
        }).catch((err) => err)
    }

</script>
