
input[type=text], select {
  width: 93.5%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.calc-body{
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.container-botoes{
  width:70%;

  align-items: center;
}


.calc-screen{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75%;
}

.calc-operation {
  text-align: right;
  color: #727B86;
  font-size: 21px;
  padding-bottom: 10px;
  border-bottom: dotted 1px;
}

.calc-typed {
  margin-top: 20px;
  font-size: 45px;
  text-align: right;
  color: #fff;
}

.calc-button-row {
  width: 100%;
  background: #3C4857;
}

.button {
  width: 25%;
  background: #425062;
  color: #fff;
  padding: 20px;
  display: inline-block;
  font-size: 25px;
  text-align: center;
  vertical-align: middle;
  margin-right: -4px;
  border-right: solid 2px #3C4857;
  border-bottom: solid 2px #3C4857;
  transition: all 0.2s ease-in-out;
}

.button.l {
  color: #AEB3BA;
  background: #404D5E;
}

.button.c {
  color: #D95D4E;
  background: #404D5E;
}

.button:hover {
  background: #aaaaaa;
  cursor: pointer;
}

.button.c:hover,
.button.l:hover {
  background: #39be92;
  color: #fff;
}

.blink-me {
  color: #31bdaa;
}

.button.l.eq{
  background: #39BE86;
  color: white;
}

.button.l.eq:hover{
  background: #3beca2
}

.button.l.eq, .icon{
  color: #39BE86;
}

.button.l.eq, icon:hover{
  color: white;
}

