<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=>, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% include 'header/header.html' %}

    <h1>Sobre</h1>

    <p>
        Este é um projeto da disciplina de Engenharia de Software do 6º Semestre de 2021 da Fatec de São José dos Campos,
         sendo o Orientador da disciplina o professor Fabrício Galende Marques de Carvalho.
    </p>
    <p>
        A Calculadora tem o propósito de realizar um cálculo com operações elementares, envolvendo funções transcendentes.
    </p>
    <p>
        Cosseno de X
       
    </p>

    <img src="../../static/images/cosseno.PNG" alt="imagem da formula do cosseno">
</body>
</html>